---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    groups:
      npm-development:
        dependency-type: development
        update-types:
          - major
          - minor
          - patch
      npm-production:
        dependency-type: production
        update-types:
          - major
          - minor
          - patch
